* {
    font-family:'Times New Roman', Times, serif;
    color: white;
}
svg {
    width: 2px;
    height: 2px;
    color: white;
}

body {
    background-color: #191919;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

.database-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    border-collapse: collapse;
    padding: 1px;
}

.database-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.database-data {
    border: 1px solid gray;
    font-size: 1.1em;
}

.database-header {
    background-color: #333;
    font-weight: bold;
    font-size: 1.5em;
}

select {
    background-color: #191919;
    color: white;
    border: 1px solid gray;
    padding: 5px;
    font-size: 1em;
}
/* Need to add coloring for applied, interview, offer, and rejected options */