* {
    font-family:'Times New Roman', Times, serif;
    color: white;
}
svg {
    width: 2px;
    height: 2px;
    color: white;
}

body {
    background-color: #191919;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

.database-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    width: 100%;
    border-collapse: collapse;
    padding: 1px;
}

.database-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid gray;
}